<!DOCTYPE html>
<html lang="zxx" class="no-js">
<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="img/fav.png">
    <!-- Author Meta -->
    <meta name="author" content="colorlib">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>Nhật Ngữ 3 Chàng Ngốc</title>

    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
    <!--
    CSS
    ============================================= -->
    <link href="~/Assets/client/css/linearicons.css" rel="stylesheet" />
    <link href="~/Assets/client/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Assets/client/css/bootstrap/bootstrap.css" rel="stylesheet" />
    <link href="~/Assets/client/css/magnific-popup.css" rel="stylesheet" />
    <link href="~/Assets/client/css/nice-select.css" rel="stylesheet" />
    <link href="~/Assets/client/css/animate.min.css" rel="stylesheet" />
    <link href="~/Assets/client/css/owl.carousel.css" rel="stylesheet" />
    <link href="~/Assets/client/css/jquery-ui.css" rel="stylesheet" />
    <link href="~/Assets/client/css/main.css" rel="stylesheet" />

    <link rel="stylesheet" href="css/owl.carousel.css">
    <link rel="stylesheet" href="css/jquery-ui.css">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <header id="header" id="home">
        <div class="header-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-sm-6 col-8 header-top-left no-padding">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        </ul>
                    </div>
                    <div class="col-lg-6 col-sm-6 col-4 header-top-right no-padding">
                        <a href="tel:097 515 96 72"><span class="lnr lnr-phone-handset"></span> <span class="text">097 515 96 72</span></a>
                        <a href="mailto:support@colorlib.com"><span class="lnr lnr-envelope"></span> <span class="text">nhatngu3changngoc@gmail.com</span></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container main-menu">
            <div class="row align-items-center justify-content-between d-flex">
                <div id="logo">
                    <a href="index.html"><img src="img/logo1.png" alt="" title="" /></a>
                </div>

            </div>
        </div>
    </header><!-- #header -->
    <!-- start banner Area -->
    <section class="banner-area relative" id="home">
        <div class="overlay overlay-bg"></div>
        <div class="container">
            <div class="row fullscreen d-flex align-items-center justify-content-between">
                <div class="banner-content col-lg-9 col-md-12">
                    <h1 class="text-uppercase">
                        Nhật Ngữ 3 Chàng Ngốc
                    </h1>
                    <p class="pt-10 pb-10">
                        In the history of modern astronomy, there is probably no one greater leap forward than the building and launch of
                        the space telescope known as the Hubble.
                    </p>
                    <a href="#" class="primary-btn text-uppercase">Get Started</a>
                </div>
            </div>
        </div>
    </section>
    <!-- End banner Area -->
    <!-- Start feature Area -->
    <section class="feature-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="single-feature">
                        <div class="title">
                            <h4>Learn Online Courses</h4>
                        </div>
                        <div class="desc-wrap">
                            <p>
                                Usage of the Internet is becoming more common due to rapid advancement
                                of technology.
                            </p>
                            <a href="#">Join Now</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-feature">
                        <div class="title">
                            <h4>No.1 of universities</h4>
                        </div>
                        <div class="desc-wrap">
                            <p>
                                For many of us, our very first experience of learning about the celestial bodies begins when we saw our first.
                            </p>
                            <a href="#">Join Now</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-feature">
                        <div class="title">
                            <h4>Huge Library</h4>
                        </div>
                        <div class="desc-wrap">
                            <p>
                                If you are a serious astronomy fanatic like a lot of us are, you can probably remember that one event.
                            </p>
                            <a href="#">Join Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End feature Area -->
    @RenderBody();

    
    <!-- Start search-course Area -->
    <section class="search-course-area relative">
        <div class="overlay overlay-bg"></div>
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-lg-6 col-md-6 search-course-left">
                    <h1 class="text-white">
                        Được giảm giá <br>
                        đăng ký ngay bây giờ!
                    </h1>
                    <p>
                        inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards
                        especially in the workplace. That’s why it’s crucial that, as women, our behavior on the job is beyond reproach.
                    </p>
                    <div class="row details-content">
                        <div class="col single-detials">
                            <span class="lnr lnr-graduation-hat"></span>
                            <a href="#">
                                <h4>Expert Instructors</h4>
                            </a>
                            <p>
                                Usage of the Internet is becoming more common due to rapid advancement of technology and power.
                            </p>
                        </div>
                        <div class="col single-detials">
                            <span class="lnr lnr-license"></span>
                            <a href="#">
                                <h4>Certification</h4>
                            </a>
                            <p>
                                Usage of the Internet is becoming more common due to rapid advancement of technology and power.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 search-course-right section-gap">
                    <form class="form-wrap" action="#">
                        <h4 class="text-white pb-20 text-center mb-30">Liên hệ ngay với chúng tôi</h4>
                        <input type="text" class="form-control" name="name" placeholder="Your Name" onfocus="this.placeholder = ''"
                               onblur="this.placeholder = 'Your Name'">
                        <input type="phone" class="form-control" name="phone" placeholder="Your Phone Number" onfocus="this.placeholder = ''"
                               onblur="this.placeholder = 'Your Phone Number'">
                        <input type="email" class="form-control" name="email" placeholder="Your Email Address" onfocus="this.placeholder = ''"
                               onblur="this.placeholder = 'Your Email Address'">
                        <div class="form-select" id="service-select">
                            <select>
                                <option datd-display="">Chọn khóa học</option>
                                <option value="1">Khóa học N2</option>
                                <option value="2">Khóa học N3</option>
                                <option value="3">Khóa học N4</option>
                                <option value="4">Khóa học N5</option>
                            </select>
                        </div>
                        <button class="primary-btn text-uppercase">Gửi</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- End search-course Area -->
    <!-- start footer Area -->
    <footer class="footer-area section-gap">
        <div class="container">
            <div class="footer-bottom row align-items-center justify-content-between">
                <p class="footer-text m-0 col-lg-6 col-md-12">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script> 3F GROUP ASP | This template is made with <i class="fa fa-heart-o"
                                                                                                                            aria-hidden="true"></i> by <a href="https://asp.3fgroup.vn" target="_blank">3F ASP</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
                <div class="col-lg-6 col-sm-12 footer-social">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-dribbble"></i></a>
                    <a href="#"><i class="fa fa-behance"></i></a>
                </div>
            </div>
        </div>
    </footer>
    <!-- End footer Area -->


    <script src="~/Assets/client/js/vendor/jquery-2.2.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="~/Assets/client/js/vendor/bootstrap.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
    <script src="~/Assets/client/js/easing.min.js"></script>
    <script src="~/Assets/client/js/hoverIntent.js"></script>
    <script src="~/Assets/client/js/superfish.min.js"></script>
    <script src="~/Assets/client/js/jquery.ajaxchimp.min.js"></script>
    <script src="~/Assets/client/js/jquery.magnific-popup.min.js"></script>
    <script src="~/Assets/client/js/jquery.tabs.min.js"></script>
    <script src="~/Assets/client/js/jquery.nice-select.min.js"></script>
    <script src="~/Assets/client/js/owl.carousel.min.js"></script>
    <script src="~/Assets/client/js/mail-script.js"></script>
    <script src="~/Assets/client/js/main.js"></script>
</body>
</html>